/* Chrome, Safari, Edge, Opera */
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#phone {
    -moz-appearance: textfield;
}

